.popup__container_plus {
  max-width: 430px;
  max-height: 330px;
  background-color: white;
  color:black;
  z-index: 2;
  border-radius: 10px;
  position: relative;
  text-align: center;
}

@media screen and (max-width: 460px) {
  .popup__container_plus {
    width: 95%;
  }
}

@media screen and (max-width: 320px) {
  .popup__container_plus {
    max-width: 282px;
  }
}
