@import "../vendor/normalize.css";
@import "../fonts/inter.css";
@import "../blocks/body/body.css";
@import "../blocks/header/header.css";
@import "../blocks/header/__logo/header__logo.css";
/*================== Header ===================== */
@import "../blocks/profile/profile.css";
@import "../blocks/profile/__avatar/profile__avatar.css";
@import "../blocks/profile/__info/profile__info.css";
@import "../blocks/profile/__info-text-title/profile__info-text-title.css";
@import "../blocks/profile/__info-text-subtitle/profile__info-text-subtitle.css";
@import "../blocks/profile/__edit-button/profile__edit-button.css";
@import "../blocks/profile/__add-button/profile__add-button.css";
/*================== Profile ===================== */
@import "../blocks/elements/elements.css";
@import "../blocks/elements/__element/elements__element.css";
@import "../blocks/elements/__mask-group/elements__mask-group.css";
@import "../blocks/elements/__group-white/elements__group-white.css";
@import "../blocks/elements/__title/elements__title.css";
@import "../blocks/elements/__group/elements__group.css";
@import "../blocks/elements/__group/elements__group-like.css";
@import "../blocks/elements/__trash/elements__trash.css";
/*================== Elements ===================== */
@import "../blocks/footer/footer.css";
@import "../blocks/footer/__mesto/footer__mesto.css";
/*================== Footer ===================== */
@import "../blocks/popup/popup.css";
@import "../blocks/popup/popup-cards.css";
@import "../blocks/popup-img/popup-img.css";
@import "../blocks/popup/_opened/popup_opened.css";
@import "../blocks/popup/__close-icon/popup__close-icon.css";
@import "../blocks/popup/__container/popup__container.css";
@import "../blocks/popup-cards/__container-plus/popup-cards__container-plus.css";
@import "../blocks/popup-img/__container-img/popup-img__container-img.css";
@import "../blocks/popup/__container-title/popup__container-title.css";
@import "../blocks/popup-cards/__container-title/popup-cards__container-title.css";
@import "../blocks/popup/__container-field-title/popup__container-field-title.css";
@import "../blocks/popup-cards/__container-field-title-plus/popup-cards__container-field-title-plus.css";
@import "../blocks/popup/__container-field-subtitle/popup__container-field-subtitle.css";
@import "../blocks/popup-cards/__container-field-subtitle-plus/popup-cards__container-field-subtitle-plus.css";
@import "../blocks/popup/__button/popup__button.css";
@import "../blocks/popup/__button/popup__button-disabled.css";
@import "../blocks/popup-img/__img-img/popup-img__img-img.css";
@import "../blocks/popup-img/__text/popup-img__text.css";
@import "../blocks/popup/__error/popup__error-hidden.css";
@import "../blocks/popup/__error/popup__error_visible.css";
@import "../blocks/popup/__input/popup__input_type_error.css";
@import "../blocks/popup/__error/popup__error-subtitle.css";
/*================== Popup ===================== */

.elements__subtitle {
   display: grid; 
}

.element__number-like {
    margin: 0;
    margin-top: 3px;
    margin-left: 6px;
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
    height: 13px;
    width: 10px;
}

.popup-delite__container {
    width: 430px;
    height: 181px;
    background-color: white;
    position: relative;
    border-radius: 10px;
}

.popup__close-icon {
    cursor: pointer;
    margin-top: -40px;
    position: absolute;
    right: -40px;
    text-align: center;
}
.popup-delite__text {
    color: black;
    height: 23px;
    width: 358px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 36px;
    margin-top: 34px;
    margin-bottom: 38px;
}

.popup-delite__button {
    background-color: black;
    width: 358px;
    height: 50px;
    color: white;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    margin-left: 36px;
    cursor: pointer;
}

.popup-delite__button:hover {
    opacity: 0.8;
}


.popup-avatar__container{
    width: 430px;
    height: 272px;
    background-color: white;
    position: relative;
    border-radius: 10px;
}

.popup-avatar__text {
    color: black;
    height: 23px;
    width: 358px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 36px;
    margin-top: 34px;
    margin-bottom:40.7px ;
}

.popup-avatar__input {
    border: solid rgba(0,0,0,.2);
    border-width: 0 0 1px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    height: 14px;
    line-height: 17px;
    margin-bottom: 48px;
    margin-left: 36px;
    min-width: 358px;
    outline-color: #add8e6;
    padding: 13px 0;
}

