.profile__add-button-left {
  display: flex;
  width: 394px;
  flex-direction: row-reverse;
}


@media screen and (max-width:666px) {
  .profile__add-button-left {
    width: 100%;
  }
}

@media screen and (max-width:320px) {
  .profile__add-button-left {
    width: 282px;
  }
}
