.popup__close-icon {
  position: fixed;
  margin-left: 438px;
  margin-top: -40px;
  cursor: pointer;
}

.popup__close-icon:hover {
  opacity: .6;
}

@media screen and (max-width: 320px) {
  .popup__close-icon {
    width: 20px;
    margin-left: 262px;
    margin-top: -36px;
  }
}
