.popup-cards__close-icon-pluse {
  position: absolute;
  right: -40px;
  top: -40px;
  cursor: pointer;
}

.popup-cards__close-icon-pluse:hover {
  opacity: .6;
}

@media screen and (max-width: 550px) {
  .popup-cards__close-icon-pluse {
    right: 0;
  }
}

@media screen and (max-width: 410px) {
  .popup-cards__close-icon-pluse {
    width: 20px;
    right: 0px;
    top: -36px;
  }
}
