.popup-cards__container-save-plus-disabled {
  background-color: white;
  cursor: default;
  color: #C5C5C5;
  border: 1px solid #C5C5C5
}

.popup-cards__container-save-plus-disabled:hover {
  opacity: 1;
}
