.popup__container-title {
  margin: 0;
  margin-left: 36px;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  width: 330px;
  margin-top: 34px;
}

@media screen and (max-width:320px) {
  .popup__container-title {
    width: 238px;
    font-size: 18px;
    line-height: 22px;
    margin-left: 22px;
  }
}
